.token-auto-generate .rand-key{
	right: 0;
	position: absolute;
	bottom: 5px;
}

.autogen{
	width: 100;
	height: 0;
	position: relative;
}

.token-auto-generate textarea{
	font-family: 'Courier New', serif;
	height: 140px !important;
}